* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

$bg: #181818;
$accent1: #1f1f1f;
$accent2: #353535;
$color1: #68cfc3;
$color2: #fd8d14;
$color3: #8062d6;
$color4: #0b212d;


body {
    background-color: $bg;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    height: 100px;
    padding: 2px 20px;
    display: grid;
    place-items: center;
    // background-color: red;
    z-index: 10;
}

.nav_content {
    display: flex;
    align-items: center;
    height: 100%;
    max-height:48px;
    border-radius: 32px;
    width: fit-content;
    background-color: $accent1;
    padding: 0 32px;
    // box-shadow: 0px 0px 10px $accent2;
    outline: 1px solid grey;
    width: 100%;
    max-width: 600px;
    justify-content: space-evenly;

    a {
        color: grey;
        font-weight: 600;
    }
    // a:is(:active, :focus, :hover) {
    //     color: $color2;
    // }
    .active {
        color: $color2;
    }
}
.side_bar {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: $bg;
    top: 0;
    left: 0;
    // transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    .socials {
        display: flex;gap: 14px;
    }
    a {
        font-size: 22px;
        color: grey;
    }
    a:hover,a:active {
        color: $color2;
    }
}

.m_nav {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
    padding: 12px 24px;
    border-radius: 12px;
    background-color: $bg;
    align-items: center;
    padding:  4px 12px;
    // width: 352px;
    outline: 1px solid transparentize($color: $color2, $amount: 0.7);
    margin: 0 12px;
    
    .logo {
        color: $color2;
        font-weight: 600;

    }
    .ham {
        z-index: 10;
        padding: 0;
        color: white;
    }

}
.home {
    display: flex;
    flex-direction: column;
    gap: 92px;
}

section {
    height: 100vh;
    max-height: 720px;
    // background-color: red;
    padding: 0 64px;
}

.hero {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    // position: relative;
    isolation: isolate;
    .background {
        top: 0;
        position: absolute;
        height: 768px;
        width: 100%;
        object-fit: cover;
        z-index: -1;
        filter: blur(20px);
    }
    .hero_text {
        width: 100%;
        max-width: 600px;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 28px;
        .hero_links {
            display: flex;
            gap: 20px;
            a {
                outline: 1px solid $accent2;
                color: grey;
                padding: 8px;
                border-radius: 4px;
                cursor: pointer;
            }
            a:hover {
                outline: 1px solid $color2;
                color: $color2;
            }
        }
        .intro {
            display: flex;
            align-items:flex-end;
            font-size: 32px;
            font-weight: 600;
            color: $color2;
            text-transform: capitalize;
            h1 {
                font-size: 28px;
            }
            
        }
        h2 {
            // color: transparentize($color: ($color), $amount: 0.1);
            font-size: 32px;
            color: grey;
        }

        h1 {
            color: white;
            font-size: 38px;
        }
        p {
            font-size: 20px;
            color: grey;
        }
        .icon {
            display: flex;
            img {
                height: 72px;
                // width: 72px;
                aspect-ratio: 1/1;
                border-radius: 100%;
                outline: 1px solid $accent2;
                cursor: pointer;
            }
            img:hover {
                outline: 1px solid white;
            }
        }
    }
    .hero_socials {
        display: flex;
        gap: 12px;
        svg {
            stroke: $accent2;
            height: 32px;
            width: 32px;
        }
        a {
            position: relative;
            display: flex;
        }
        .hero_tooltip {
            align-self: center;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateY(40px) translateX(-20px);
            color: $color1;
            background-color: $accent2;
            padding: 4px;
            opacity: 0;
            pointer-events: none;
        }
        a:hover {
            svg {
                stroke: white;
            }
            .hero_tooltip {
                opacity: 1;
            }
        }
    }
    .hero_img {
        height: 500px;
        border-radius: 10px;
        box-shadow: 0 0px 10px $color2;
    }
}

.all_projects {
    place-items: center;
}
.project_section {
    height: max-content !important;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 12px 100px;
    
    .pro_title {
        color: $color2;
        font-size: 48px;
    }
}
.project {
    width: 342px;
    height: 382px;
    position: relative;
    padding: 2px;
    border-radius: 4px;
    * {
        border-radius: 4px;
    }
    .project_content {
        height: 100%;
        width: 100%;
        background-color: $bg;
        z-index: 2;
        display: flex;
        flex-direction: column;
        padding: 12px;
        justify-content: space-evenly;

        .img_link {
            align-self: center;
            width: fit-content;
            height: fit-content;
            display: grid;
            place-items: center;
            background-color: $accent2;
            padding: 2px;
            width: 80%;
            height: calc(40%);
            overflow: hidden;
        }
        .img_link:hover {
            background-color: black;
        }
        img {
            width: 100%;
            
            object-fit: scale-down;
        }
        .project_title {
            color: white;
            font-size: 18px;
            font-weight: 600;
        }
        .project_description {
            color: grey;
            font-size: 14px;
        }
        .project_tools {
            display: flex;
            gap: 4px;
            .tool {
                text-transform: capitalize;
                background-color: $accent2;
                font-size: 12px;
                padding: 2px;
            }
        }
        .project_links {
            display: flex;
            gap: 12px;
            a {
                color: white;
                font-size: 14px;
                padding: 4px;
                background-color: darken($color: $color2, $amount: 40);
            }
            a:hover {
                background-color: $color2;
            }
        }
    }
}

.project::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, $bg, $color2);
    background-size: 400%, 400%;
    inset: 0;
    margin: auto;
    z-index: -1;
    left: 0;
    top: 0;
    border-radius: 4px;

    filter: blur(2px);
}
.project:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.project:hover::after {
    animation: gradient infinite 15s ease;
    filter: blur(0px);
}

.all_projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.contact_section {
    display: flex;
    // justify-content: center;
    justify-content: space-evenly;
    gap: 24px;
}

.contact {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 40px;
    width: 100%;
    max-width: 400px;
    padding: 4px;
    height: 100%;

    .h1 {
        font-size: 32px;
        font-weight: 600;
        color: white;
        position: relative;
        width: fit-content;
    }
    .h1::after {
        content: "";
        position: absolute;
        height: 4px;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: translateY(20px);
        background-color: $color2;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        div {
            display: flex;
            background-color: $accent2;
            height: 48px;
            border-radius: 4px;
            overflow: hidden;
            svg {
                background-color: $accent1;
                height: 100%;
                width: 48px;
                aspect-ratio: 1/1;
                padding: 8px;
                stroke: grey;
            }
            input {
                background-color: inherit;
                outline: none;
                border: none;
                padding: 2px;
                height: 100%;
                width: 100%;
                display: flex;
                font-size: 16px;
                color: white;
            }
        }
        textarea {
            background-color: $accent2;
            outline: none;
            border: none;
            border-radius: 4px;
            padding: 4px;
            color: white;
        }
        // button:active {
        //     filter: invert(1);
        //     color: white;
        // }
        .contact_button {
            background-color: $color2 !important;
        }
        // button {
        //     transition: 0.4s;
        //     display: flex;
        //     width: max-content;
        //     gap: 2px;
        //     padding: 0 8px;
        //     align-items: center;
        //     border: none;
        //     outline: none;
        //     font-size: 18px;
        //     text-transform: capitalize;
        //     font-weight: 600;
        //     background-color: $color2;
        //     height: 42px;
        //     border-radius: 4px;
        //     cursor: pointer;
        //     svg {
        //         height: 32px;
        //         width: 32px;
        //         padding: 6px;
        //     }
        // }

        div:focus-within,
        textarea:focus {
            outline: 1px solid $color2;
            svg {
                stroke: $color2;
            }
        }
    }
}

.resume {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 8px 0;
    .resume_title {
        h1 {
            font-size: 42px;
            color: $color2;
        }
    }
}

.resume_items {
    width: 100%;
    max-width: 568px;
    gap: 24px;
    padding: 24px 12px;
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    height: max-content;
    // margin-right: 24px;

    .line {
        display: flex;
        position: relative;
        flex-direction: column;
        .icon {
            background-color: $color2;
            display: grid;
            place-items: center;
            border-radius: 100%;
            padding: 4px;
            color: black;
            position: relative;
        }
        .icon:after {
            content: "";
            background-color: transparentize($color: $color2, $amount: 0.5);
            position: absolute;
            transform: scale(1.5);
            aspect-ratio: 1/1;
            border-radius: 100%;
            inset: 0;
            margin: auto;
            z-index: -1;
        }
    }
    .line::after {
        content: "";
        height: 100%;
        background-color: $color2;
        width: 0.1pt;
        align-self: center;
    }
    .resume_content {
        display: flex;
        flex-direction: column;
        gap: 12px;
        h1 {
            font-size: 24px;
            color: white;
        }
        h3 {
            font-size: 14px;
            color: transparentize($color: $color2, $amount: 0.4);
            font-weight: 500;
        }
        p {
            font-size: 16px;
            font-weight: 500;
            color: grey;
        }
    }
}

.resume_items:hover {
    outline: 1px solid transparentize($color: $color2, $amount: 0.8);
}

.resume_section {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    height: 100%;
}
.skills {
    display: flex;
    max-width: 452px;
    height: 100%;
    gap: 38px;
    // flex-wrap: wrap;
    flex-direction: column;
    h2 {
        font-size: 48px;
        color: $color2;
    }
    .disclamer {
        color: lighten($color: red, $amount: 20);
        font-weight: 500;
        font-size: 18px;
        text-transform: capitalize;
    }
    .skill_list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
}
.skill_item {
    display: flex;
    gap: 8px;
    width: 400px;
    background-color: $accent2;
    width: max-content;
    align-items: center;
    padding-right: 8px;
    font-weight: 600;
    // outline: 1px solid $accent2;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    .icon {
        background-color: $accent1;
        padding: 4px;
        display: grid;
        place-items: center;
        svg {
            stroke: grey;
            width: 38px;
            height: 38px;
            aspect-ratio: 1/1;
        }
    }
}
.skill_item:hover {
    outline: 1px solid $color2;
    color: $color2;
    svg {
        stroke: $color2;
    }
}


footer {
    display: flex;
    height: 100%;
    margin-top: 100px;
    background-color: $accent2;
    display: flex;
    flex-direction: column;gap: 22px;
    padding: 22px;
    .brand {
        color: $color2;
        font-size: 22px;
        font-weight: 600;
    }
    hr {
        border: 1px solid $accent1;
    }
    .links {
        display: flex;
        .link_items {
            display: flex;
            margin-left: auto;
            gap: 12px;
            a {
                display: flex;
                align-items: center;
                gap: 4px;
                color: grey;
                // background: $bg;
                padding: 4px;
                text-transform: capitalize;
                
            }
            a:is(:active,:hover) {
                color: $color2;
            }
         }
    }
    .copywright {
        text-align: center;
        color: white;
    }
}

////Project_page
/// 
.project_page {
    display: flex;
    flex-direction: column;
    gap: 32px;
    .title {
        font-size: 32px;
        text-transform: capitalize;
        color: $color2;
        position: relative;
        width: fit-content;
    }
    .title::after {
        position: absolute;
        content: "";
        height: 3px;
        background-color: $accent2;
        width: 100%;
        left: 0;
        bottom: 0;
        transform: translateY(4px);
    }
    .content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 0 24px;
        h1 {
            color: $color2;

        }
        p {
            font-size: 18px;
            color: grey;
        }
        h2 {
            color: white;
            font-weight: 500;
        }
    }
    .features {
        display: flex; 
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;
        span {
            padding: 8px;
            background-color: $accent2;
            color: $color2;
            border-radius: 4px;
        }
    }
    .tools {
        display: flex; 
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;
        span {
            padding: 8px ;
            border-radius: 4px;
            background-color: $accent2;
            color: $color2;
        }
    }
    .externals {
        display: flex;
        gap: 12px;
        a {
            background-color: $color2;
            color: black;
            padding: 12px;
            font-weight: 600;
        }
    }
}

.smooth_link {
    // user-select: none;
    cursor: pointer;
}
.smooth_link:hover {
    color: transparentize($color: $color2, $amount: 0.8);
}
.smooth_link:active {
    color: $color2;
}
.right {
    margin-right: 20px;
}
.left {
    margin-left: 20px;
}
.C_button {
    background-color: $accent2;
    backdrop-filter: blur(5px);
    border-radius: 100%;
    width: 50px;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    z-index: 10;
    cursor: pointer;
    svg {
        stroke: $color2;
    }
}
.C_button:active {
    background-color: transparentize($color: $accent2, $amount: 0.6);
    outline: 1px solid $color2;
}

.carousel {
    height: 100% !important;
    padding: 4px;
    background-color: transparentize($color: $color2, $amount: .9);
    backdrop-filter: blur(2px   );
    .my_carousel {
        height: 100%;
        img {
            height: 100%;
            width: 100%;
        }
        .carousel_item {
            width: 100%;
            display: grid;
            place-items: center;
            user-select: none;
            
        }
    }
}
//animations

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}

@media screen and (max-width: 900px) {
    .project_section {
        padding: 4px ;
    }

    .hero_img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    footer {
        flex-direction: column;
        gap: 20px;
        height: max-content;
        margin-top: 100px;
        .links {
            // flex-direction: column;
            .link_items {
                flex-direction: column;
                align-self: left;
            }
        }
        
    }
    section {
        flex-direction: column;
        height: max-content !important;
        padding: 0 24px;
        max-height: 100%;
    }
    .hero {
        gap: 38px;
        
        .hero_text {
            .intro {
                font-size: 27px;
            }
            h1 {
                font-size: 28px;
            }
            h2 {
                font-size: 20px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    .contact_section {
        align-items: center;
    }
}

@media screen and (max-width: 1200px) {
    .all_projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 780px) {
    .all_projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.aws-btn {
    --button-default-height: 44px;
    --button-default-font-size: 14px;
    --button-default-border-radius: 4px;
    --button-horizontal-padding: 16px;
    --button-raise-level: 4px;
    --button-hover-pressure: 0;
    --transform-speed: 0.15s;
    --button-primary-color: #fc8f0c !important;
    --button-primary-color-dark: #825316 !important;
    --button-primary-color-light: #000000;
    --button-primary-color-hover: #fc8c14 !important;
    --button-primary-color-active: $color1 !important;
    --button-primary-border: none;
    --button-secondary-color: #f2f6f9;
    --button-secondary-color-dark: #1360a4;
    --button-secondary-color-light: #1e88e5;
    --button-secondary-color-hover: #e1eaf1;
    --button-secondary-color-active: #cfdee9;
    --button-secondary-border: 2px solid #1e88e5;
    --button-anchor-color: #0e4f88;
    --button-anchor-color-dark: #072743;
    --button-anchor-color-light: #ffffff;
    --button-anchor-color-hover: #0d4a7f;
    --button-anchor-color-active: #0c4271;
    --button-anchor-border: none;
    --button-danger-color: #c42e2e;
    --button-danger-color-dark: #861f1f;
    --button-danger-color-light: #ffffff;
    --button-danger-color-hover: #bc2c2c;
    --button-danger-color-active: #af2929;
    --button-danger-border: none;
  }